<html>
    <head>
        <title>Testing</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SnipIT</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#top">Home</a></li>
                        <li><a href="#abouts">About</a></li>
                        <li><a href="#contacts">Contact</a></li>
                    </ul>
                    <!--<ul class="nav navbar-nav navbar-right">-->
                        <!--<li><a href="#">Sign Up <i class="fa fa-user-plus"></i></a></li>-->
                        <!--<li><a href="#">Login <i class="fa fa-user"></i></a></li>-->
                    <!--</ul>-->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <div class="container main" id="top">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content">
                        <h1>SnipIT</h1>
                        <h3>The most innovative programming tool</h3>
                        <hr class="hr1">
                        <button class="btn btn-default btn-lg"><i class="fa fa-envelope-o" aria-hidden="true"></i> Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container second" id="abouts">
            <div class="row">
                <div class="col-lg-12 heading">
                    <h1 class="about">SnipIT</h1>
                    <h3>Optimizing workflow and improving efficiency.</h3>
                    <div class="row about2">
                        <div class="col-lg-4 left">
                            <div class="jumbotron jumbotron1">
                                <h4>"Alexa, How do I add an element to a linked list?"</h4>
                                <h4>"Alexa, Give me the syntax of a link list"</h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="jumbotron jumbotron2">
                                <span class="jumbo">
                                    <p>"/* Linked List Declaration */\n\</p>
                                    <p>LinkedList<String> linkedlist = new LinkedList<String>();\n\</p>
                                    <p>\n\</p>
                                    <p>/*add(String Element) is used for adding \n\</p>
                                    <p>* the elements to the linked list*/\n\</p>
                                    <p>linkedlist.add(""Item1"");\n\</p>
                                    <p>linkedlist.add(""Item5"");\n\</p>
                                    <p>linkedlist.add(""Item3"");\n\</p>
                                    <p>linkedlist.add(""Item6"");\n\</p>
                                    <p>linkedlist.add(""Item2"");\n\</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img class="image" src="../assets/screenshot.png">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr2">
            <div class="row" id="contacts">
                <h2>Contact Us:</h2>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput2">Name</label>
                        <input class="form-control" type="text" placeholder="Name">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Contact</button>
                </form>
            </div>
        </div>
            <ul class="nav bottom">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Back To Top</a>
                </li>
            </ul>
    </body>
</html>
