html {
    height:100%;
}

body {
    /*background:url("../assets/main.jpg");*/
    background-size: cover;
    background-position: top;
    font-family: lato;
    background-color: #f8f8f8;
}

h1 {
    font-weight:700;
    font-size:5em;
}
h4 {
    font-weight:700;
    font-size:3em;
    font-style:italic;
    margin-bottom:100px;
}


.jumbotron1 {
    background-color: rgb(220, 230, 247);
    height:640px;
}
.jumbotron2 {
    font-size:100px;
    height:640px;
}

.hr1 {
    width:400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid grba(0,0,0,0.2);
}

.hr2 {
    width:100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grba(0,0,0,0.2);
}

.main {
    background:url("../assets/main.jpg");
    height: 100%;
    width:100%;
    background-size:cover;
    background-position:top;
    color:white;
}

.heading {
    text-align:center
}

.left {
    text-align:left;
}

#content {
    text-align:center;
    padding-top:15%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.8),
    0px 8px 13px rgba(0,0,0,0.4),
    0px 18px 23px rgba(0,0,0,0.2);
}

.testing {
    background:black;
}

.second {
    padding-top:50px;
}

.about {
    text-shadow: 0px 5px 7px rgba(184, 209, 249,0.8),
    0px 8px 13px rgba(196, 218, 255,0.4),
    0px 18px 23px rgba(196, 218, 255,0.2);
}

.about2 {
    margin-top: 75px;
}

.image {
    width:100%;
}

.jumbotron p {
    font-size:15px;
    font-weight:bold;
    text-align:left;
}

.bottom {
    background-color:#e7e7e7;
}